.filter-section {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid lightgray;
    border-radius: 8px;
}

.filter-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
    width: 100%;
}

.filter-form label {
    font-weight: bold;
}

.filter-form input, .filter-form select {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.25rem;
}

.filter-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 4px;
    padding: 0.5rem;

    &:hover, &:focus-visible {
        background-color: hsl(0, 0%, 83%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        transition: 0.1s;
    }
}

.form-button {
    background-color: hsla(0, 0%, 79%, 0.302);
    border: 4px solid hsl(0, 0%, 83%);
    border-radius: 4px;
}

.form-button img {
    max-width: none;
}

.form-search {
    width: 100%;
}

.form-search input {
    width: 100%;
}