@import 'tailwindcss';

.ListTable{
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.ListTable__Title{
    height: 150px;
    overflow: scroll;
}

.ListTable td, .ListTable th{
    padding:12px;
}

.ListTable thead{
    background-color: var(--color-neutral-100);
}

.ListTable__Stock{
    display: flex;
    gap: 4px;
}

.ListTable__Title{
     display: flex;
    gap: 8px;
    align-items: center;
}

.ListTable__Title img{
  border: 1px solid var(--color-neutral-400);
  border-radius: 4px;
}

.ListTable__Sku{
    font-size: 0.8rem;
    color: var(--color-gray-800);
}

.ListTable__ListItem-in-stock{
    color: var(--color-green-700);
    font-weight: bolder;
}

.ListTable__ListItem-low-stock{
    color: var(--color-yellow-400);
    font-weight: bold;
}

.ListTable__ListItem-out-of-stock{
    color: var(--color-red-500);
    font-weight: bolder;
}

.ListTable__ListItem--deleted{
    display: none;
}

.ListTable__Actions{
    display: flex;
    gap: 8px;
    align-items: center;
}

.ListTable__Actions img{
    cursor: pointer;
    filter: invert(1);
}

.ListTable__Actions button:hover{
    cursor: pointer;
}

.ListTable__ConfirmDelete{
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    gap: 4px;
}

.ListTable__ConfirmDelete div{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}


.ListTable__ConfirmDelete button:first-of-type{
    color: var(--color-red-500);
}
