.ListTable{
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
}

.ListTable td, .ListTable th{
    padding:12px;
}

.ListTable thead{
    background-color: #c9c9c94d;
}

.ListTable__Stock{
    display: flex;
    gap: 4px;
}

.ListTable__Title{
     display: flex;
    gap: 8px;
    align-items: center;
}

.ListTable__Title img{
border: 1px solid #0000003d;
  border-radius: 4px;
}

.ListTable__Sku{
    font-size: 0.8rem;
    color: grey;
}

.ListTable__ListItem-in-stock{
    color: green;
    font-weight: bolder;
}

.ListTable__ListItem-low-stock{
    color: orange;
    font-weight: bolder;
}

.ListTable__ListItem-out-of-stock{
    color: red;
    font-weight: bolder;
}

.ListTable__actions{
    display: flex;
    gap: 8px;
    align-items: center;
}

.ListTable__actions img{
    cursor: pointer;
    filter: invert(1);
}

.ListTable__actions button:hover{
    cursor: pointer;
}