.AddProduct{
    padding:1rem;
}

.AddProduct__Title{
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.AddProduct__Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AddProduct__Header a{
    color: blue;
}