
h2#form-header {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.form-subheader {
    margin-block-start: 1rem;

    border-bottom: 2px solid var(--text-muted);

    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
}

form.product-form {
    display: grid;
    gap: 0.5rem;


    textarea,
    input,
    select,
    button {
        font: inherit;
        resize: none;

        background-color: var(--surface-primary);
        accent-color: var(--color-indigo-500);
        border: 1px solid var(--border-default);
        border-radius: var(--radius-sm);

        padding: 0.5rem;
        margin-block-end: 0.5rem;
    }

    .form-btn{
        margin-block-end:0;
    }

    select {
        padding-inline-end: 2rem;
    }

    /* Form group and it's variants */
    .form-group {
        display: grid;
        /* gap: 0.5rem; */
    }

    label {
        font-weight: var(--font-weight-semibold);
        padding-block-end: 0.5rem;
        margin-block-start: 0.5rem;

        /* Removes margin from top when the label has a "required"-asterisk. */
        /* An "required"-asterisk already adds some more whitespace above the label because of it larger font-size. */
        &:has(.required-text) {
            margin-block-start: 0;
        }
    }

    .required-text {
        color: red;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-semibold);
    }

    .minor-info {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
    }

    /* Styling for the fieldset with the product dimension inputs */
    fieldset {
        border: 1px solid var(--border-default);

        padding-inline: 1rem;
        padding-block-end: 0.5rem;
        margin-top: 0.5rem;

        legend {
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-bold);
        }
    }

    details summary {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bold);
    }

    /* Submit button */
    .form-btn {
        background-color: var(--color-indigo-500);
        border-radius: var(--radius-md);
        color: var(--color-white);
        cursor: pointer;
        gap: .5rem;
        padding-inline: 1rem;


        &:hover, &:focus-visible {
            opacity: 95%;

            transition-duration: 100ms;
        }
    }


    /* Hover effects */
    label:hover,
    input:hover,
    select:hover,
    textarea:hover,
    fieldset:hover {
        border-color: var(--border-strong);
        /* transition-duration: 10ms; */
    }

    *[readonly] {
        cursor: not-allowed;
        
    }

    input:placeholder-shown {
        background-color: var(--surface-secondary);
    }
}