
h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

form.product-form {
    display: grid;
    gap: 1rem;

    label {
        font-weight: var(--font-weight-bold);
    }

    textarea,
    input,
    select,
    button {
        font: inherit;
        padding: 0.5rem;
        background-color: var(--surface-primary);
        accent-color: var(--color-indigo-500);
        border: 2px solid var(--border-default);
        resize: none;
    }

    /* Form group and it's variants */
    .form-group {
        display: grid;
        gap: 0.5rem;
        max-width: 600px;
    }

    .form-group:has(.sku-input) {
        display: block;

        .sku-input {
            display: flex;
            gap: 0.2rem;

            margin-top: 0.5rem;
        }

        span {
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-medium);
        }

        input {
            max-width: 4rem;
            text-align: center;
        }
    }

    /* Submitbutton */
    .btn-submit {
        max-width: 12rem;
        background-color: var(--surface-secondary);
        color: var(--text-secondary);
        font-weight: var(--font-weight-bold);
    }
    
}