.EditProduct__Container{
    padding:1rem;
}

.edit-page-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.edit-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: blue;
    }
}